<section class="mt-3 mb-5">
  <header class="d-flex justify-content-center align-items-center">
    <h1>My Todos</h1>
  </header>
</section>

<section class="todos">
  <div class="row">
    <div class=" col-sm-6">
      <form>
        {{input type='text' value=description placeholder='Task name'}}
        <button class="btn btn-primary" disabled={{buttonDisabled}} {{action 'addTask'}}>Add Task</button>
      </form>
    </div>
    <div class="col-sm-6">
      <table>
        <tbody>
          {{#each tasks as |task|}}
            <tr>
              <td width="10%">{{checkbox-component checked=task.completed task=task updateTaskStatus="saveTask"}}</td>
              {{text-field-component value=task.description task=task save="saveTask"}}
              <td width="10%"><a {{action 'deleteTask' task}} class="cursor-pointer"><i class="fa fa-trash"></i></a></td>
            </tr>
          {{else}}
            <p class="text-center">No Tasks</p>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
